<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
    <body>
        <h1>index</h1>
        <!--<a href="/greeting">greeting page</a>-->
        <form action="/greeting">
            <input type="" name="imya" placeholder="imya">
            <input type="submit" name="" placeholder="">
        </form>
        <form action="/greeting" method="post">
            <select name = "id" id="">
                <option value="1">vasya</option>
                <option value="2">petya</option>
                <option value="3">kolya</option>
                <option value="4">polya</option>

            </select>
            <input type="submit" name="" placeholder="">
        </form>
    </body>
</html>